<div class="edit">
 <%= avatar_for(current_user) %>
  <%= form_for @user do |user| %>
    <div class="edit-path">
      <%= flash[:success] %>
      <% if flash[:message_edit]%>
        <% flash[:message_edit].each do |message|%>
          <%= message %><br>
        <% end %>
      <% end %>
        <div class="form-group">
          <%= user.label :username, "Username:"%>
          <%= user.text_field :username, placeholder:"Username", class:"username-field"%>
        </div>
        <div class="form-group">
          <%= user.label :fullname, "Full name:"%>
          <%= user.text_field :fullname, placeholder:"Full name", class:"username-field"%>
        </div>

        <h5 class="border-bottom pb-2">Optional</h5>

        <div class="form-group">
         <%= user.label :photo, "Attach your profile photo" %>
         <%= user.file_field :photo, class: "form-control"  %>
        </div>

        <div class="form-group">
         <%= user.label :cover_image, "Attach your cover image" %>
         <%= user.file_field :cover_image, class: "form-control"  %>
        </div>
        <%= user.submit "Update info", class:'btn' %>
    </div>
  <% end %>
</div>